// VARS
// ----


// FONTS
// ----------------------------------------------------------------------------

$serif:                   $georgia;
$sans-serif:              'Fort', $helvetica;
$alt-font:                $lucida-grande;
$base-font-family:        $sans-serif;
$title-font:              $alt-font;

// Font Sizes
$em-base: 22px !default;
$base-font-size: 22px;
$base-font-size-rem: rem(22);

// Line Height
$base-line-height: 1.375;
$base-spacing: $base-line-height * 1em;
$body-line-height: golden-ratio(1em, 1);
$header-line-height: 1.25;
$base-z-index: 0;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~





// COLORS
// ----------------------------------------------------------------------------

$brand-color:             #bada55;

// Grayscale
$white:                   #fff;
$gray-10:                 darken($white, 10%);
$gray-20:                 darken($white, 20%);
$gray-30:                 darken($white, 30%);
$gray-40:                 darken($white, 40%);
$gray-50:                 darken($white, 50%);
$gray-60:                 darken($white, 60%);
$gray-70:                 darken($white, 70%);
$gray-80:                 darken($white, 80%);
$gray-90:                 darken($white, 90%);
$black:                   #000;


// Element Colors
$base-background-color:   $white;       // Background Color

// Font Colors
$base-font-color:         $black;
$base-accent-color:       $brand-color;

// Link Colors
$base-link-color:         $base-accent-color;
$hover-link-color:        $base-font-color;
$base-button-color:       $base-link-color;
$hover-button-color:      $hover-link-color;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~





// GRID SCAFFOLDING
// ----------------------------------------------------------------------------

// Basic Settings
$grid-columns: 14;
$gutter: 28px !global;
$fg-gutter: 1.5em;
$max-container-width: 1800px;
$max-width: $max-container-width;

// Container Sizes
$xsmall-container:    480px;
$small-container:     750px;
$medium-container:    970px;
$large-container:     1400px;
$container-break:     $gutter;

// Breakpoints
$xsmall:        new-breakpoint(min-width $xsmall-container + $container-break);       // Big pocket screens
$small:         new-breakpoint(min-width $small-container + $container-break);        // Tablets
$medium:        new-breakpoint(min-width $medium-container + $container-break);       // Laptops / Small Desktop
$large:         new-breakpoint(min-width $large-container + $container-break);        // Large Desktops
$xlarge:        new-breakpoint(min-width $max-container-width + $container-break);    // Full Width
$xsmall-max:    new-breakpoint(max-width $xsmall-container + $container-break);       // Big pocket screens
$small-max:     new-breakpoint(max-width $small-container + $container-break);        // Tablets
$medium-max:    new-breakpoint(max-width $medium-container + $container-break);       // Laptops / Small Desktop
$large-max:     new-breakpoint(max-width $max-container-width + $container-break);    // Large Desktops

// Bourbon Neat Visual Grid
$visual-grid: false;
$visual-grid-color: yellow;
$visual-grid-index: front;
$visual-grid-opacity: .5;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~





// Helper Vars
// ----------------------------------------------------------------------------

// Spacing
$space-sm: rem(10);
$space-md: rem(20);
$space-lg: rem(40);
$space-xl: rem(60);

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~




